include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE.md
include README.md
include lucid/*.css
include lucid/_version.py
include lucid/logo.png

include requirements.txt
include dev-requirements.txt
include docs-requirements.txt
