/* Stylesheet from Qt-Advanced-Docking for use with lucid */
/*
 * Default style sheet on Windows Platforms
 * Note: Always use CSS-classes with and without "ads--" namespace to support Qt4 & Qt5
 */

CDockContainerWidget
{
    background: palette(light);
}

CDockContainerWidget QSplitter::handle
{
    background: palette(dark);
}

CDockAreaWidget
{
    background: palette(window);
    border: 1px solid white;
}

CDockAreaWidget #tabsMenuButton::menu-indicator
{
    image: none;
}


CDockWidgetTab
{
    background: palette(window);
    border-color: palette(dark);
    border-style: solid;
    border-width: 0 1px 0 0;
    padding: 0 0px;
}

CDockWidget
{
    background: palette(light);
    border-color: palette(light);
    border-style: solid;
    border-width: 1px 0 0 0;
}

#tabsMenuButton,
#closeButton,
#undockButton
{
	padding: 0px -2px;
}


QScrollArea#dockWidgetScrollArea
{
	padding: 0px;
	border: none;
}


#tabCloseButton
{
	margin-top: 2px;
	background: none;
	border: none;
	padding: 0px -2px;
}

#tabCloseButton:hover
{
	border: 1px solid rgba(0, 0, 0, 32);
	background: rgba(0, 0, 0, 16);
}

#tabCloseButton:pressed
{
	background: rgba(0, 0, 0, 32);
}



